@media (max-width: 992px) {
  .container-fluid {
    min-width: 100vw;
    height: 95vh;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    align-items: baseline;
  }

  .cart-detail {
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 15vh;
    height: 80vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .cart-detail::-webkit-scrollbar,
  .container-fluid::-webkit-scrollbar {
    display: none;
  }

  .cart-summary {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  div > input.quantity {
    max-width: 50px;
  }

  .cart-detail,
  .cart-summary {
    max-width: 100%;
  }

  .expand-summary-button {
    border-radius: 999px;
  }

  .expand-summary-button > img {
    max-width: 15px;
    max-height: 15px;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .rect-img-container 
  {
    height: 100%;
  }

  .rect-img-container > img
  {
    height: 100%;
  }

}

@media (min-width: 992px) {
  .row > div {
    overflow: hidden;
  }
  .cart-detail,
  .cart-summary {
    height: 95vh;
    overflow: hidden;
    overflow-y: scroll;
  }

  .cart-summary {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .cart-summary::-webkit-scrollbar {
    display: none;
  }

  .cart-item-detail {
    min-width: 300px;
  }

  div > input.quantity {
    min-width: 50px;
    max-width: 70px;
  }

  .rect-img-container {
    max-height: 75px;
    min-height: 100%;
    min-width: 75%;
    max-width: 100%;
    overflow: hidden;
  }

  .rect-img {
    height: 100%;
  }
}
