<div class="form-group">
    <input 
        [class.is-invalid]='ngControl.touched && ngControl.invalid'
        type={{type}}
        class="form-control" 
        [formControl]="ngControl.control"
        placeholder={{label}}>
        <div *ngIf="ngControl.control.errors?.required"
            class="invalid-feedback">
            This field is required
        </div>
        <div *ngIf="ngControl.control.errors?.minlength"
            class="invalid-feedback">
            This field must have at least {{ngControl.control.errors.minlength['requiredLength'] - separatorCount}} characters
        </div>
        <div *ngIf="ngControl.control.errors?.maxlength"
            class="invalid-feedback">
            This field can not have more than {{ngControl.control.errors.maxlength['requiredLength' - separatorCount]}} characters
        </div>
        <div *ngIf="ngControl.control.errors?.pattern"
            class="invalid-feedback">
            This field not valid
        </div>
        <div *ngIf="ngControl.control.errors?.isMatching"
            class="invalid-feedback">
            Password not match
        </div>
</div>