.card {
  border-radius: 10px;
}

@media (min-width: 768px) {
  .container-fluid {
    max-width: 1400px;
  }
}

@media (max-width: 768px) {
  ul {
    width: 80vw;
    flex-direction: row;
  }

  ul > li {
   text-align: center;
  }
}
