ul > li > p {
  padding: 0;
  margin: auto auto;
}

@media (min-width: 992px) {
  .container-fluid {
    max-width: 1400px;
  }

  .card {
    border-radius: 15px;
  }

  /* .list-group-item-active
  {
    background-color: #f6faf6;
  }
  
  .list-group-item
  {
    background-color: white;
  } */
}

@media (max-width: 992px) {
  .card-body {
    padding: 5px;
  }

  ul {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  ul > li {
    text-align: center;
    min-width: 200px;
  }
/* 
  .list-group-item
  {
    background-color: #f6faf6 ;
  } */
  
  .list-group-item-active
  {
    /* background-color: white; */
    border-radius: 2px;
    border: 3px solid #f8f9fa !important;
  }
}
