@media (max-width: 768px) {

  .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 5px;
    }
}

@media (min-width: 768px) {
  .container-fluid {
    max-width: 1400px;
  }
  
}

.rect-img-container {
  max-width: calc(50px + 2vw);
  min-width: calc(50px + 2vw);
}

.timeline {
  position: relative;
  max-width: 100%;
}

.timeline::after {
  margin-top: 30px;
  content: '';
  position: absolute;
  width: 3px;
  background-color: #e8ecf0;
  top: 0;
  bottom: 0;
  left: 30px;
  border-radius: 999px;
  margin-left: -3px;
}

.timeline-end {
  position: relative;
  max-width: 100%;
}

.timeline-end::after {
  margin-top: 30px;
  content: '';
  position: absolute;
  width: 3px;
  background-color: #e8ecf0;
  top: 0;
  bottom: 50px;
  left: 30px;
  border-radius: 999px;
  margin-left: -3px;
}

.timeline-container {
  padding: 0px 40px;
  position: relative;
  background-color: inherit;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  right: -15px;
  background-color: rgb(61, 61, 61);
  border: 4px solid #e8ecf0;
  top: 30px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 40px;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding-top: 15px;
  position: relative;
  border-radius: 6px;
}

