@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {

}

@media (max-width: 768px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .pagination {
      flex-wrap: wrap !important;
      justify-content: center !important;
    }

    .mx-sm-0 {
      margin-left: 0;
      margin-right: 0;
    }

    .pr-sm-0 {
      padding-right: 0;
    }

    .over-flow-scroll {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;
    }

    .over-flow-scroll::-webkit-scrollbar {
      display: none;
    }
}

.pagination > li {
  margin: 0 0.1rem;
}

.pagination > .pagination-first.disabled > a,
.pagination > .pagination-prev.disabled > a,
.pagination > .pagination-next.disabled > a,
.pagination > .pagination-last.disabled > a {
  text-align: center;
  background-color: transparent !important;
  border-color: transparent !important;
  color: #d6d6d6;
}


.pagination > .pagination-first > a,
.pagination > .pagination-prev > a,
.pagination > .pagination-next > a,
.pagination > .pagination-last > a,
.pagination > .pagination-page > a {
  text-align: center;
  background-color: transparent !important;
  border-color: transparent !important;
  color: #000000;
}

.pagination > .pagination-page.active > a{
  text-align: center;
  background-color: black !important;
  border-color: black !important;
  border-radius: 3px;
  color: #ffffff;
}

textarea:focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: transparent;
    -webkit-box-shadow: 0 8px 6px -8px transparent;
    -moz-box-shadow: 0 8px 6px -8px transparent;
    box-shadow: 0 8px 6px -8px transparent;
    background-color: rgb(240, 240, 240) !important;
    outline: 0 none;
}

input {
  background-color: rgb(235, 235, 235) !important;
  border: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:focus {
  outline:none !important;
  box-shadow: none !important;
  background-color: rgb(230, 230, 230);

}

a.link {
  text-decoration: underline;
}

.top-50 {
  top: 50%;
}

.end-0 {
  right: 0;
}

.border-top-left-0 {
  border-top-left-radius: 0;
}

.border-top-right-0 {
  border-top-right-radius: 0;
}

.border-bottom-left-0 {
  border-bottom-left-radius: 0;
}

.border-bottom-right-0 {
  border-bottom-right-radius: 0;
}

.bg-white {
  background-color: #ffffff;
}

.fw-smaller {
  font-size: smaller;
}

.fw-larger {
  font-size: larger;
}



div.carousel.slide > ol {
  display: none !important;
}

.carousel-control-prev,
.carousel-control-next{
  height: 100%;
  width: 50px;
  background-size: 100%, 100%;
}

.carousel-control-prev-icon {
  background-image: url('../.././client/src/assets/iconmonstr-arrow-left-thin.svg');
  width: 2vw;
  height: 2vw;
}
.carousel-control-next-icon {
  background-image: url('../.././client/src/assets/iconmonstr-arrow-right-thin.svg');
  width: 2vw;
  height: 2vw;
}

.rect-img-container {
  position: relative;
}

.rect-img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.rect-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.over-flow-scroll {
  overflow: scroll;
}

/* .modal-dialog
{
  width: 100% !important;
}

::ng-deep .modal-image-selector
{
  max-width: 60vw !important;
  width: 60vw !important;
}

::ng-deep .modal-image-viewer
{
  max-width: 1200px!important;
  width: 1200px !important;
} */

.cs-pointer {
  cursor: pointer;
}

.skeleton-text{
  height: 20px;
}


.skeleton-long-text{
  width: 80%;
}

.skeleton-short-text{
  width: 30%;
}

.skeleton-loading-container:empty {
  animation: pulsing 2s infinite ease-in-out;
  background: #E0E0E0;
  background-repeat: no-repeat;
}

@keyframes pulsing {
  0% {
    filter: brightness(70%);
  }
  50% {
    filter: brightness(90%);
  }
  100% {
    filter: brightness(70%);
  }
}
