@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  max-height: min(100vh, -webkit-fill-available, 100svh , 100lvh);
  overflow-y: scroll;
  max-width: 100vw;
  overflow-x: hidden;
}

.font-brand {
  font-family: "Playfair Display", serif;
}

@media (min-width: 501px) {
  body {
    font-size: 15px;
  }

  .carousel-text > .carousel-title {
    font-size: 48px;
  }

  .nav-tabs {
    overflow: hidden;
  }
}

@media screen and (max-width: 992px) and (min-width: 501px) {
  .mobile-filter {
    padding-top: 50px;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .tablet-vertical-scroll {
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .tablet-horizontal-scroll {
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .tablet-horizontal-scroll::-webkit-scrollbar,
  .tablet-vertical-scroll::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 501px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    font-size: 30px;
  }

  .pagination {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }

  .hide-scroll-bar-sm {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scroll-bar-sm::-webkit-scrollbar {
    display: none;
  }

  .mobile-vertical-scroll {
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mobile-horizontal-scroll {
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mobile-horizontal-scroll::-webkit-scrollbar,
  .mobile-vertical-scroll::-webkit-scrollbar {
    display: none;
  }

  .nav-tabs {
    width: 100%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .nav-tabs::-webkit-scrollbar {
    display: none;
  }

  .nav-tabs > .nav-item {
    word-wrap: break-word;
    min-width: 150px;
    text-align: center;
  }

  .mobile-filter {
    padding-top: 50px;
  }
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.dropdown {
  z-index: 100;
  -webkit-appearance: none;
}

/* Input */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  /* border-color: transparent; */
  border: 1px solid #000000a1 !important;
  -webkit-box-shadow: 0 8px 6px -8px transparent;
  -moz-box-shadow: 0 8px 6px -8px transparent;
  box-shadow: 0 8px 6px -8px rgba(85, 82, 82, 0.521);
  background-color: #f9fcf6 !important;
  outline: 0 none;
}

input {
  background-color: #f9fcf6 !important;
  border: none !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

select
{
  appearance: none;
  background-color: transparent;
      background-image: url(assets/arrow-down.svg);
      background-repeat: no-repeat;
      background-position: 97% 52%;
      background-size: 15px;
}

.place-holder
{
  min-height: 50vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: rgb(230, 230, 230);
}
/* Input */

/* Position */
.top-0 {
  top: 0;
}

.top-50 {
  top: 50%;
}

.end-0 {
  right: 0;
}
/* Position */

/* Border */
.border-top-left-0 {
  border-top-left-radius: 0;
}

.border-top-right-0 {
  border-top-right-radius: 0;
}

.border-bottom-left-0 {
  border-bottom-left-radius: 0;
}

.border-bottom-right-0 {
  border-bottom-right-radius: 0;
}
/* Border */

/* Color */
.bg-white {
  background-color: #ffffff;
}
/* Color */

/* Font */
.fw-smaller {
  font-size: smaller;
}

.fw-larger {
  font-size: larger;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}
/* Font */

/* Carousel */
.carousel {
  max-height: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-content {
  position: absolute;
  height: 100%;
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.carousel-image {
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.carousel-image-next {
  top: 0;
  left: -100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.carousel-image-prev {
  top: 0;
  left: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.carousel-text {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0;
  right: 0;
  width: 80%;
  height: 100%;
  z-index: 11;
}

.carousel-text > .carousel-title {
  font-family: "Playfair Display", serif;
}

.carousel-slide:hover {
  transform: scale(1.025);
}

.carousel-control {
  border: none;
  background-color: transparent;
  outline: 0;
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: min(30px,3em);
  user-select: none;
  height: 100%;
  opacity: 80%;
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.carousel-control:hover,
.carousel-control:focus {
  opacity: 1;
  background-color: transparent;
}
.carousel-control.carousel-next {
  right: 0;
  z-index: 11;
}
.carousel-control.carousel-prev {
  left: 0;
  z-index: 11;
}

.carousel-arrow {
  display: block;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  width: 0.5em;
  height: 0.5em;
}

.carousel-arrow-light {
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
}

.carousel-arrow-dark {
  border-left: 0.1em solid black;
  border-bottom: 0.1em solid black;
}

.carousel-arrow.carousel-arrow-left {
  transform: rotate(45deg);
}

.carousel-arrow.carousel-arrow-right {
  transform: rotate(225deg);
}

.carousel-indicator-container {
  height: 10px;
}

.carousel-indicator {
  border-radius: 999px;
  margin: 1px 3px;
}

.carousel-indicator-inactive {
  height: 5px;
  width: 5px;
}

.carousel-indicator-active {
  height: 7px;
  width: 7px;
}

/* Carousel */

/* Image */
.rect-img-container {
  position: relative;
}

.rect-img-container::after {
  content: "";
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
}

.rect-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Image */

/* Table */
td {
  vertical-align: middle !important;
}
/* Table */

/* Align */
.va-middle {
  vertical-align: middle !important;
}
/* Align */

/* Mouse */
.cs-pointer {
  cursor: pointer;
}

/* Mouse */

/* Skeleton loading */
.skeleton-text {
  height: 20px;
}

.skeleton-long-text {
  width: 80%;
}

.skeleton-short-text {
  width: 30%;
}

.skeleton-loading-container:empty {
  animation: pulsing 2s infinite ease-in-out;
  background: #e0e0e0;
  background-repeat: no-repeat;
}

@keyframes pulsing {
  0% {
    filter: brightness(70%);
  }
  50% {
    filter: brightness(90%);
  }
  100% {
    filter: brightness(70%);
  }
}
/* Skeleton loading */

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgb(206, 203, 203);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  width: 1px;
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b4b3b3;
}
/* Scroll bar */

/* Default status */
.status {
  width: 170px;
}
/* Default status */

a:hover {
  text-decoration: underline !important;
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

sketch-picker,
chrome-picker {
  width: 100% !important;
}

.chart-container {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
}

.chart {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
}

.icon {
  min-height: 18px;
  max-height: 18px;
  object-position: center;
}

.shrunk > div {
  background: linear-gradient(to top, rgba(46,78,63, 0.02) 0%, rgba(46,78,63, 0.07) 10%, rgba(46,78,63, 0.05) 20%, rgba(46,78,63, 0));
}