.list-group-item {
    border: none;
}

.star-percent > p, .star-percent > i {
    width: 5%;
}

.progress {
    border-radius: 0 !important;
}
.btn-score
{
    width: 20%;
}

.d-inline > button
{
    min-width: 17%;
}