<!-- carousel -->
<div class="w-100 px-0 mx-0" *ngIf="carousels">
  <div class="carousel position-relative">
    <ng-container *ngFor="let slide of carousels; let i = index">
      <div
        class="cs-pointer carousel-image-container"
        *ngIf="i === currentSlideIndex"
      >
        <!-- <div class="rect-img-container" *ngIf="isCurrent(item.url)">
        <img
          *ngIf="item.fileType == 0; else video"
          [src]="item.url"
          class="rect-img"
          [@slideAnimation]="animationType"
        />
        <ng-template #video>
          <video
            [src]="item.url"
            class="rect-img"
            autoplay
            [@slideAnimation]="animationType"
          ></video>
        </ng-template>
      </div> -->
        <div
          class="carousel-content carousel-image"
          [@slide]="{
            value: '',
            params: { startPos: startPos, endPos: endPos }
          }"
        >
          <div class="rect-img-container">
            <img [src]="slide.imageUrl" class="rect-img" alt="editor-choice" />
          </div>
        </div>

        <div
          class="carousel-content"
          [class]="{
            'carousel-image-next': action == 'next',
            'carousel-image-prev': action == 'prev'
          }"
          [@slide]="{
            value: '',
            params: { startPos: startPos, endPos: endPos }
          }"
        >
          <div class="rect-img-container">
            <img [src]="currentUrl" class="rect-img" alt="editor-choice" />
          </div>
        </div>
      </div>
    </ng-container>
    <button class="carousel-control carousel-prev">
      <span class="carousel-arrow carousel-arrow-left carousel-arrow-dark"></span>
    </button>
    <button class="carousel-control carousel-next">
      <span class="carousel-arrow carousel-arrow-right carousel-arrow-dark"></span>
    </button>

    <button class="carousel-control carousel-prev" (click)="onPreviousClick()">
      <span class="carousel-arrow carousel-arrow-left carousel-arrow-dark"></span>
    </button>
    <button class="carousel-control carousel-next" (click)="onNextClick()">
      <span class="carousel-arrow carousel-arrow-right carousel-arrow-dark"></span>
    </button>
  </div>
  <div
    class="carousel-indicator-container w-100 mt-2 px-2 d-flex d-inline-block align-items-center justify-content-center"
  >
    <div
      (click)="viewSlide(i)"
      class="cs-pointer carousel-indicator"
      [class]="{
        'carousel-indicator-inactive': i != currentSlideIndex,
        'carousel-indicator-active': i == currentSlideIndex
      }"
      *ngFor="let slide of carousels; let i = index"
    ></div>
  </div>
</div>

<!-- <div class="img-review-container py-2 d-flex d-inline-block w-100" *ngIf="showPreview">
    <div
      class="rect-img-container img-review cs-pointer"
      (click)="onThumbnailClick(item)"
      [style]="getPreviewItemWidth()"
      [class.selected]="isCurrent(item.url)"
      [class.not-selected]="!isCurrent(item.url)"
      *ngFor="let item of previewItems"
    >
      <img
        *ngIf="item.fileType == 0; else video"
        [src]="item.url"
        class="rect-img"
        [@slideAnimation]="animationType"
      />
      <ng-template #video>
        <video
          [src]="item.url"
          class="rect-img p-3"
          [@slideAnimation]="animationType"
        ></video>
      </ng-template>
    </div>
  </div> -->
