:host {
  flex: 1;
}

@media (max-width: 501px) {
  .carousel {
    height: 300px;
  }

  .rect-img-container {
    height: 300px;
  }
}

@media (min-width: 501px) {
  .carousel {
    height: 500px;
  }

  .rect-img-container {
    height: 500px;
  }
}
