<div class="container-fluid w-100 px-0" *ngIf="product">
    <div class="row mx-0 border-bottom">
        <div class="col-12 col-md-7 col-lg-8 p-0">
            <div class="bg-light pl-lg-5 product-image">
                <app-breadcrumb [breadCrumbList]="breadCrumb"></app-breadcrumb>
                <!-- <app-image-gallery [mainPhotoUrl]="product.url" [photos]="product.productPhotos"></app-image-gallery> -->
                <app-product-images class="h-100" [viewerItems]="product.productPhotos" [maxPreviewItem]="8"></app-product-images>
            </div>

        </div>

        <div class="col-12 col-md-5 col-lg-4">
            <div class="pl-md-4 mt-3">
                <div class="d-inline-block d-flex justify-content-between">
                    <h6 class="text-muted">
                        {{product.brandName}}&nbsp;&#8901;&nbsp;{{product.categoryName}}
                    </h6>
                </div>
                <h1 class="text-uppercase">
                    {{product.productName}}
                </h1>
                <h4>
                    {{product.productPrice | currency}}
                </h4>



                <p class="mt-4 pr-md-5 text-muted">
                    Nam tellus elit, rutrum at nisi et, suscipit accumsan augue. Donec id ligula mauris.
                </p>

                <div class="mt-4 pr-md-5">
                    <label for="size">Color: {{selectedColor.colorName}}</label>

                    <ul class="list-inline my-3">
                        <li class="list-inline-item" *ngFor="let item of colors">
                            <div class="round-button round-button-not-selected p-3 mx-2" 
                                *ngIf="item.colorName != selectedColor.colorName ; else selected" 
                                (click)="chooseColor(item)">
                                    <div class="round-button-circle"  
                                        [ngStyle]="{'background-color': '#' + item.colorCode}">
                                    </div>
                            </div>
                            
                            <ng-template #selected>
                                <div class="round-button round-button-selected p-3 mx-2" 
                                (click)="chooseColor(item)">
                                    <div class="round-button-circle"  
                                        [ngStyle]="{'background-color': '#' + item.colorCode}">
                                    </div>
                                </div>
                            </ng-template>

                        </li>
                    </ul>
                </div>


                <div class="row mt-4 pr-md-5">
                    <div class="col-12 col-lg-6">
                        <label for="size">Size</label>
                        <div class="input-group mb-3">
                            <select (change)="onSizeChange($event.target.value)"
                                class="form-select w-100 bg-light border-0 p-2">
                                <option *ngFor="let size of sizes" [ngValue]="size">{{size.sizeName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <label for="size">Quantity</label>
                        <div class="input-group quantity mb-3">
                            <button class="btn btn-light border-top-right-0 border-bottom-right-0" type="button"
                                id="button-addon1">-</button>
                            <input type="number" [(ngModel)]="quantity" min="0" [value]="quantity" class="form-control bg-light border-0">
                            <button class="btn btn-light border-top-left-0 border-bottom-left-0" type="button"
                                id="button-addon2">+</button>
                        </div>
                    </div>
                </div>


                <div class="mt-5 pr-md-5">
                    <button class="btn btn-dark w-100">
                        <h6 class="text-uppercase m-0 py-2">add to cart</h6>
                    </button>
                    <div class="text-center text-md-right mt-3">
                        <button class="btn btn-transparent text-muted">
                            <i class="fa fa-heart-o"></i>&nbsp;&nbsp;Add to wishlisht
                        </button>
                    </div>
                </div>

            </div>
        </div>


    </div>


    <div class="p-3 px-md-5">
        <div class="px-lg-5">
            <div [innerHTML]="product.description | safeurl"></div>

        </div>
    </div>

    <div class="p-3 px-md-5">
        <div class="px-lg-5">
            <h2 class="text-uppercase mt-md-4">rating & reviews</h2>
            <app-product-rating></app-product-rating>
        </div>
    </div>


    <div class="p-1 mt-3 mt-md-5 px-md-5">
        <div class="px-lg-5">
            <h2 class="text-uppercase">you may also like</h2>
            <app-product-related></app-product-related>
        </div>
    </div>


</div>