<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
        <li *ngFor="let item of breadCrumbList; let i = index" 
            class="breadcrumb-item">
            <a *ngIf="i < breadCrumbList.length - 1" class="text-dark link"
                routerLink="{{item.route}}">
                {{item.name}}
            </a>
        </li>
        <li class="breadcrumb-item active">
            {{breadCrumbList[breadCrumbList.length - 1].name}}
        </li>
    </ol>
</nav>