<nav
  style="--bs-breadcrumb-divider: '>'"
  aria-label="breadcrumb"
  *ngIf="breadCrumbList"
>
  <ol
    class="breadcrumb"
    [class]="{ 'bg-app-light': showBackground, 'bg-transparent': !showBackground }"
  >
    <li
      *ngFor="let item of breadCrumbList; let i = index"
      class="breadcrumb-item"
     
    >
      <a
        *ngIf="i < breadCrumbList.length - 1"
        class="link fw-smaller"
        [class]="{
          'text-app-dark-muted': !item.active,
          'cs-pointer': item.active,
          'text-app-dark': item.active
        }"
        (click)="navigatingTo(item)"
      >
        {{ item.name }}
      </a>
    </li>
    <li class="breadcrumb-item" >
      <a class="disabled text-muted fw-smaller">{{ breadCrumbList[breadCrumbList.length - 1].name }}</a>
      
    </li>
  </ol>
</nav>
