select > span {
    font-family: FontAwesome;
}

table tbody {
    display: block;
    max-height: 50vh;
    overflow-y: scroll;
  }
  
  table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

.selected
{
    background-color: rgba(65, 158, 235, 0.322) !important;
}

.color-container
{
align-items: center;
  justify-content: center;
}
.color-container > div
{
    width: 15px;
    height: 15px;
    border-radius: 999px;
}

.container-fluid 
{
    padding: auto 100vw;
}