<div class="container-fluid">
  <h3>Add new option</h3>
  <form
    [formGroup]="newOptionForm"
    (ngSubmit)="newOptionForm.valid && addNewOption($event)"
    autocomplete="off"
  >
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <label for="productId">Product</label>
        <div class="form-group">
          <select
            class="form-control"
            [formControl]="newOptionForm.controls['productId']"
          >
            <option *ngFor="let item of products" [value]="item.id">
              {{ item.productName }}
            </option>
          </select>
        </div>

        <label for="additionalPrice">Additional price</label>
        <app-number-input
          [formControl]="newOptionForm.controls['additionalPrice']"
          [label]="'Additional price'"
          [type]="'number'"
        >
        </app-number-input>

        <label for="sizeId">Size</label>
        <app-text-input
          [formControl]="newOptionForm.controls['sizeName']"
          [label]="'Size'"
        ></app-text-input>

        <label for="sizeId">Color name</label>
        <app-text-input
          [formControl]="newOptionForm.controls['colorName']"
          [label]="'Color name'"
        ></app-text-input>

        <label for="sizeId">Color hex code</label>
        <app-text-input
          [formControl]="newOptionForm.controls['colorCode']"
          [label]="'Color hex code'"
        ></app-text-input>

        <div>
          <chrome-picker
            [(color)]="hex"
            (colorChange)="updateColorHex()"
            [control]="sketchControl"
          ></chrome-picker>
        </div>

        <div class="row" *ngIf="validationErrors.length > 0">
          <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
              {{ error }}
            </li>
          </ul>
        </div>

        <div class="form-group text-right mt-3">
          <button
            routerLink="/administrator/option-manager"
            class="btn btn-danger mr-2"
            name="save"
            type="button"
          >
            Back
          </button>
          <button
            [disabled]="!newOptionForm.valid"
            class="btn btn-success mr-2"
            name="save"
            type="submit"
          >
            Save
          </button>
          <button
            [disabled]="!newOptionForm.valid"
            class="btn btn-primary"
            name="saveAndContinue"
            type="submit"
          >
            Save and continue
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-8">
        <h5 class="px-3 text-muted">Available option</h5>
        <app-admin-product-option
          [minimize]="true"
          #productOptionList
        ></app-admin-product-option>
      </div>
    </div>
  </form>
</div>
