@media (min-width: 501px) {
}

@media (max-width: 501px) {
  .filter {
    height: 100%;
  }

  .filter-top {
    overflow-y: scroll;
  }

  .filter-bottom {
  }

  .filter > div {
    max-height: 80%;
    overflow-y: scroll;
  }
}

