<div class="container">
  <footer class="py-5">
    <div class="row w-100">
      <div class="col-6 col-md-4 col-lg-3 mb-3">
        <h5 class="text-uppercase">shop</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Women</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Men</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Kids</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sale off</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-3">
        <h5 class="text-uppercase">company info</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sustainbility</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Discount</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-3">
        <h5 class="text-uppercase">support</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Help</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Shipping</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Return & Exchanges</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Size Chart</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Order Tracker</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-3">
        <h5 class="text-uppercase">follow us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitter</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Instagram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facebook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tumblr.</a></li>
        </ul>
      </div>


    </div>

    <div class="py-4 my-2 px-3 border-top">
      <p>&copy; 2021 Chang, Inc. All rights reserved.</p>
    </div>
  </footer>
</div>