<div class="container-fluid bg-light">
  <footer class="p-3 p-md-5">
    <div class="row w-100 mx-auto mt-4 mt-md-0">
      <div class="col-6 col-md-4 col-lg-2 mb-3">
        <h5 class="text-uppercase text-accent">shop</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Women</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Men</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Kids</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Sale off</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-4 col-lg-2 mb-3">
        <h5 class="text-uppercase text-accent">company info</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">About us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Sustainability</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Discount</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">FAQs</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-4 col-lg-2 mb-3">
        <h5 class="text-uppercase text-accent">support</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Help</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Shipping</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Return & Exchanges</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Size Chart</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Order Tracker</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-4 col-lg-2 mb-3">
        <h5 class="text-uppercase text-accent">follow us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Twitter</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Instagram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Facebook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Tumblr.</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-8 col-lg-4 mb-3 mt-4 mt-md-0 newsletter border-accent">
        <div class="p-4 text-center">
            <h5 class="text-uppercase mt-2 text-accent">newsletter</h5>
            <p class="mt-4">Enter your email to get newsletter from us</p>
            <div class="input email-holder mx-auto mt-4">
              <input type="text" class="form-control border bg-white" placeholder="Your email">
              <button class="btn btn-dark mt-4 text-uppercase" type="button" id="button-addon2">subscribe</button>
            </div>
        </div>
      </div>


    </div>

    <div class="py-4 my-2 px-3 px-md-1">
      <p>&copy; 2021 Test, Inc. All rights reserved.</p>
    </div>
  </footer>
</div>
