.newsletter {
    border: 2px solid ;
    border-radius: 3px;
}

div > ul {
    margin-top: 3vh;
}

div > input {
    background-color: rgb(235, 235, 235);
}

.bg-light-1
{
    background-color: #c3c5c73d;
}