<div class="container w-100">
    <div class="mt-3">
        <div class="row mx-0 px-0">
            <div [className]="getSize()" *ngFor="let product of currentProducts">
                <div class="px-0">
                    <app-product-card [product]="product"></app-product-card>
                </div>
            </div>
        </div>

        <div class="w-100 mt-3 mt-md-4 text-center" [class.d-none]=!showMoreButton>
            <button (click)="view()" class="btn btn-transparent text-dark text-uppercase">View more</button>
        </div>
    </div>
</div>