<div class="container-fluid py-5 position-relative">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5 card-container py-4 py-lg-0">
    <div class="card p-2 border-0 shadow text-center">
      <div class="card-body">
        <form
          [formGroup]="loginForm"
          (ngSubmit)="loginForm.valid && onSubmit()"
        >
          <h3 class="card-header pt-4 text-uppercase">Login</h3>
          <div class="form-group mb-4 px-4">
            <span class="text-muted"> Don't have an account? </span>
            <a class="text-dark" href="">Sign in now</a>
          </div>
          <div></div>
          <div class="form-group my-4 px-4">
            <label for="username">Username</label>
            <app-text-input
              [formControl]="loginForm.controls['username']"
              [label]="'Username'"
            ></app-text-input>
          </div>
          <div class="form-group my-4 px-4">
            <label for="password">Password</label>
            <app-text-input
              [formControl]="loginForm.controls['password']"
              [label]="'Password'"
              [type]="'password'"
            ></app-text-input>
          </div>
          <div class="my-4 px-4">
            <a class="text-dark cs-pointer">Forget password?</a>
            <button
              [disabled]="loading && !loginForm.valid"
              class="btn btn-dark py-2 mt-2 w-100"
            >
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              <h5 *ngIf="!loading" class="p-0 m-0">Login</h5>
            </button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
              {{ error }}
            </div>
          </div>
          <div class="mt-5 mb-4 px-4">
            <div
              class="w-100 d-inline-block d-flex d-justify-between other-method-login"
            >
              <div class="flex-fill">
                <hr />
              </div>
              <label class="flex-fill" for="other-signin-method"
                >Or login with</label
              >
              <div class="flex-fill">
                <hr />
              </div>
            </div>
            <div class="mt-2 px-2">
              <div class="row p-lg-0">
                <div class="col-12 col-lg-4 px-lg-1 mb-2 mb-lg-0">
                  <button
                    class="btn btn-light w-100 align-center justify-content-center"
                  >
                    <img
                      class="nav-icon"
                      src="../../../assets/google.svg"
                      alt=""
                    />
                    <span class="ml-1">Google</span>
                  </button>
                </div>
                <div class="col-12 col-lg-4 px-lg-1 mb-2 mb-lg-0">
                  <button
                    class="btn btn-light w-100 align-center justify-content-center"
                  >
                    <img
                      class="nav-icon"
                      src="../../../assets/facebook.svg"
                      alt=""
                    />
                    <span class="ml-1">Facebook</span>
                  </button>
                </div>
                <div class="col-12 col-lg-4 px-lg-1 mb-2 mb-lg-0">
                  <button
                    class="btn btn-light w-100 align-center justify-content-center"
                  >
                    <img
                      class="nav-icon"
                      src="../../../assets/apple.svg"
                      alt=""
                    />
                    <span class="ml-1">Apple ID</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="position-absolute ml-4 mt-2 logo">
    <h1 class="text-dark text-uppercase cs-pointer" routerLink="/">
      Test
    </h1>
  </div>
</div>
