<!-- <div class="container pt-5 mx-0">
    <div class="text-center mt-5">
        <h2>Best Sellers</h2>
        <div class="px-3 mb-5">
            <div class="my-3 mt-md-5">
                <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="true" [isAnimated]="true" [interval]="0"
                    [indicatorsByChunk]="true" [noWrap]="true">
                    <slide *ngFor="let slide of products; let index=index">
                        <div class="px-1 px-md-3 px-lg-4">
                            <app-product-card [product]="slide"></app-product-card>
                        </div>
                    </slide>
                </carousel>
            </div>
        <a class="text-dark">View more</a>
        </div>
    </div>
</div> -->