<div class="container-fluid px-3" *appHasRole="['DashboardAccess']">
  <!-- Section title -->
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 p-2">
      <app-admin-chart-order-rate></app-admin-chart-order-rate>
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-2">
      <app-admin-chart-order-status></app-admin-chart-order-status>
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-2">
      <app-admin-chart-popular-product></app-admin-chart-popular-product>
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-2">
      <app-admin-chart-revenue></app-admin-chart-revenue>
    </div>
  </div>
</div>
