.product-carousel-container {
  overflow: hidden;
}

.product-carousel {
  top: 0;
  width: 100%;
  z-index: 90;
  transition: all 0.5s ease-in-out;
}

/* .product-slide {
  margin-right: 20px;
} */

@media (min-width: 768px) {
  /* .product-carousel {
    padding-left: 20px;
  } */
}

@media (max-width: 768px) {
 

  /* .product-carousel {
    padding-left: 5vw;
  } */
}

.product-slide {
  min-width: 250px;
  max-width: 250px;
  margin-left: 10px;
  margin-right: 10px;
}


.btn-scroll
{
  border-radius: 999px;
}
