<div class="container">
    <h3>Add product</h3>
    <hr>
    <form [formGroup]='addProductForm' (ngSubmit)="addProductForm.valid && addProduct()" autocomplete="off">
        <label for="productName">Product name</label>
        <app-text-input [formControl]='addProductForm.controls["productName"]' [label]='"Product name"'>
        </app-text-input>
        <label for="categoryId">Category</label>
        <app-text-input [formControl]='addProductForm.controls["categoryId"]' [label]='"Category"'>
        </app-text-input>
        <label for="productPrice">Price</label>
        <app-text-input [formControl]='addProductForm.controls["productPrice"]' [label]='"Price"'>
        </app-text-input>
        <label for="gender">Gender</label>
        <app-text-input [formControl]='addProductForm.controls["gender"]' [label]='"Gender"'>
        </app-text-input>

        <div class="form-group text-center mt-5">
            <button [disabled]='!addProductForm.valid' class="btn btn-success w-100 p-2" type="submit">Add</button>
        </div>
    </form>
</div>