<ng-container *ngIf="hasRoute('administrator/login')">
  <app-admin-login></app-admin-login>
</ng-container>
<div [class]="{ 'prevent-scroll': focus }">
  <ng-container *ngIf="!hasRoute('administrator/login')">
    <div *appHasRole="['Anonymous', 'Customer']" class="position-relative">
      <ng-container *ngIf="!hasRoute('/login') && !hasRoute('/register')">
        <app-navigation-bar
          (focus)="focusModeToggle($event)"
        ></app-navigation-bar>
      </ng-container>

      <div class="container-fluid w-100 px-0 mb-3 mb-lg-5">
        <router-outlet></router-outlet>
      </div>

      <ng-container  *ngIf="!hasRoute('/login') && !hasRoute('/register')">
        <app-footer></app-footer>
      </ng-container>
      <div *ngIf="focus" class="position-absolute focus-mode"></div>
    </div>

    <div *appHasRole="['Admin', 'Manager']">
      <div class="w-100">
        <div class="container-fluid">
          <app-admin-sidebar [@slideInOut]="menuState" [currentState]="menuState" (newState)="setSidebar($event)"></app-admin-sidebar>

          <main class="ms-sm-auto px-0 position-relative">
            <nav class="w-100 py-1 d-flex justify-content-end sticky-top bg-white">
              <button
                class="btn btn-transparent"
                *ngIf="authenticationService.currentUser$ | async as user"
              >
                Hi, {{ user.username }}
              </button>
              <button class="btn btn-transparent" (click)="logout()">
                Log out
              </button>
            </nav>

            <div class="ml-5">
              <router-outlet></router-outlet>
            </div>
          </main>
        </div>
      </div>
    </div>
  </ng-container>
</div>
