<div class="container">
    <h3>Add product</h3>
    <hr>
    <form [formGroup]='editProductForm' (ngSubmit)="editProductForm.valid && editProduct()" autocomplete="off">
        <label for="id">ID</label>
        <p>{{product.id}}</p>
        <label for="productName">Product name</label>
        <app-text-input [formControl]='editProductForm.controls["productName"]' [label]='"Product name"'>
        </app-text-input>
        <label for="categoryId">Category</label>
        <app-text-input [formControl]='editProductForm.controls["categoryId"]' [label]='"Category"'>
        </app-text-input>
        <label for="productPrice">Price</label>
        <app-text-input [formControl]='editProductForm.controls["productPrice"]' [label]='"Price"'>
        </app-text-input>
        <label for="brandId">Brand</label>
        <app-text-input [formControl]='editProductForm.controls["brandId"]' [label]='"Brand"'>
        </app-text-input>

        <div class="form-group text-center mt-5">
            <button [disabled]='!editProductForm.valid' class="btn btn-success w-100 p-2" type="submit">Add</button>
        </div>
    </form>
</div>