<div class="container-fluid" *ngIf="option">
  <h3>Update option</h3>
  <form
    [formGroup]="updateOptionForm"
    (ngSubmit)="updateOptionForm.valid && updateOption($event)"
    autocomplete="off"
  >
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <label for="productId">Product</label>
        <div class="form-group">
          <input type="text" class="form-control" [disabled]="true" id="exampleFormControlInput1" placeholder="{{option.product.productName}}">
        </div>

        <label for="additionalPrice">Additional price</label>
        <app-number-input
          [formControl]="updateOptionForm.controls['additionalPrice']"
          [label]="'Additional price'"
        >
        </app-number-input>

        <label for="sizeId">Size</label>
        <app-text-input
          [formControl]="updateOptionForm.controls['sizeName']"
          [label]="'Size'"
        ></app-text-input>

        <label for="sizeId">Color name</label>
        <app-text-input
          [formControl]="updateOptionForm.controls['colorName']"
          [label]="'Color name'"
        ></app-text-input>

        <label for="sizeId">Color hex code</label>
        <app-text-input
          [formControl]="updateOptionForm.controls['colorCode']"
          [label]="'Color hex code'"
        ></app-text-input>

        <div>
          <chrome-picker
            [(color)]="hex"
            (colorChange)="updateColorHex()"
            [control]="sketchControl"
          ></chrome-picker>
        </div>

        <div class="row" *ngIf="validationErrors.length > 0">
          <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
              {{ error }}
            </li>
          </ul>
        </div>

        <div class="form-group text-right mt-3">
          <button
            routerLink="/administrator/option-manager"
            class="btn btn-danger mr-2"
            name="save"
            type="button"
          >
            Back
          </button>
          <button
            [disabled]="!updateOptionForm.valid"
            class="btn btn-success mr-2"
            name="save"
            type="submit"
          >
            Save
          </button>
          <button
            [disabled]="!updateOptionForm.valid"
            class="btn btn-primary"
            name="saveAndContinue"
            type="submit"
          >
            Save and continue
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-8">
        <h5 class="px-3 text-muted">Available option</h5>
        <app-admin-product-option
          [minimize]="true"
          #productOptionList
        ></app-admin-product-option>
      </div>
    </div>
  </form>
</div>
