.top-new {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}


.new-list {
  transition: all 0.5s ease-out;
}

.top-new,
.top-new-text {
  width: 70%;
}

@media (min-width: 992px) {

  .container-fluid
  {
    overflow: hidden;
  }
  
  .top-new,
  .new-list {
    height: 600px;
  }

  .top-new-text {
    bottom: 10%;
    left: 0;
  }
}

@media (max-width: 992px) {
  .top-new {
    min-height: 600px;
    max-height: 600px;
  }

  .top-new-text {
    bottom: 10%;
    left: 0;
  }
}

.bg-selected {
  background-color: #e3e8eb;
}
