.input-group > input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group > button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

a {
    margin-bottom: 0.25rem;
}

@media (min-width: 768px) {
    .input-group > input {
        max-width: 50vw;
    }

}
