<div class="container-fluid py-3">
  <h5 class="text-uppercase">What are you looking for ?</h5>
  <div class="input-group my-0">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchQuery"
      (ngModelChange)="updateAction()"
      (keydown.enter)="showSearchResult($event)"
      #search
    />
    <div class="input-group-append">
      <button
        (click)="showSearchResult($event)"
        class="btn btn-light bg-app-light"
        type="button"
      >
        Search
      </button>
    </div>
  </div>
</div>
