.input-group > input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group > button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

a {
    margin-bottom: 0.25rem;
}

p
{
    z-index: 100;
}