.category-container {
  background-color: #f0faed;
  overflow: hidden;
  height: calc(150px + 10vh);
  width: 100%;
}

.category-container:hover {
  background-color: #00000011;
}

img {
  height: 100%;
  object-fit: contain;
}

.category-container > .category-text {
  left: 5%;
  top: 50%;
  width: 50%;
  transform: translate(0, -50%);
  transition: all 500ms ease-in-out;
  z-index: 62;
}

.category-container > .category-text-backdrop {
  left: 100%;
  top: 0;
  height: 100%;
  width: 60%;
  transition: all 500ms ease-in-out;
  z-index: 61;
  background-color: #f0faed;
}

.category-container:hover > .category-text-backdrop {
  left: 40%;
  top: 0;
  height: 100%;
  width: 60%;
  transition: all 500ms ease-in-out;
  z-index: 61;
  background-color: #2e4e3fd5;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25) !important;
}

.category-container > .category-text > a,
.category-container > .category-text > p,
.category-container > .category-text > h3 {
  color: #2e4e3f;
  transition: all 500ms ease-in-out;
}
.category-container:hover > .category-text > a,
.category-container:hover > .category-text > p,
.category-container:hover > .category-text > h3 {
  color: #f0faed;
  transition: all 500ms ease-in-out;
}

.category-container:hover > .category-text {
  left: 45%;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 500ms ease-in-out;
}

.category-container > img {
  top: 0px;
  left: 50%;
  transition: all 500ms ease-in-out;
  z-index: 60;
}

.category-container:hover > img {
  top: 0px;
  left: 0;
  transition: all 500ms ease-in-out;
}
