<div class="container mt-3">
    <div class="row w-100 mx-0">
        <div class="col-12 col-md-4">
            <div class="img-container position-relative category-container">
                <img class="img" src="../../../assets/category_1.webp" alt="">
                <div class="position-absolute category-text">
                    <h3>Women's Bag</h3>
                    <div class="d-flex mt-3">
                        <a href="text-dark">Shop now</a>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="img-container position-relative category-container">
                <img class="img" src="../../../assets/category_2.webp" alt="">
                <div class="position-absolute category-text">
                    <h3>Sneaker</h3>
                    <div class="d-flex mt-3">
                        <a href="text-dark">Shop now</a>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="img-container position-relative category-container">
                <img class="img" src="../../../assets/category_3.webp" alt="">
                <div class="position-absolute category-text">
                    <h3>Men's Coat</h3>
                    <div class="d-flex mt-3">
                        <a href="text-dark">Shop now</a>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>