<div class="container-fluid px-0">

    <div class="w-100 row mx-0 px-0 py-1 text-center border-right cover"
            [style.background-image]="'url(../../assets/cover.webp)'">
        <div class="col-md-6 p-lg-5 mx-auto my-auto">
            <h3 class="display-3 fw-normal">All products</h3>
        </div>
    </div>

    <div class="row mx-auto w-100">
        <div class="col-12 col-md-3 pt-4">
            <h4 class="mt-5">Filter</h4>
            <hr>

            <label class="label">Categories</label>
            <div class="mt-1">
                <ul class="list-group">
                    <li *ngFor="let category of categories"
                        class="list-group-item bg-transparent border-0">
                        <a class="text-dark">{{ category.categoryName }}</a>
                    </li>
                  </ul>
            </div>

            <label class="label mt-3">Price</label>
            <div class="mt-1">
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0">
                        <a class="text-dark">Less than {{ 50 | currency}}</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0">
                        <a class="text-dark">{{ 50 | currency}} - {{ 100 | currency}}</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0">
                        <a class="text-dark">{{ 100 | currency}} - {{ 200 | currency}}</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0">
                        <a class="text-dark">{{ 200 | currency}} or more</a>
                    </li>
                  </ul>
            </div>

            <label class="label mt-3">Size</label>
            <div class="mt-1">
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0">
                        <a class="text-dark">Extra small - XS</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0">
                        <a class="text-dark">Small - S</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0">
                        <a class="text-dark">Medium - M</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0">
                        <a class="text-dark">Large - L</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0">
                        <a class="text-dark">Extra large - XL</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0">
                        <a class="text-dark">Ultra large - XXL</a>
                    </li>
                  </ul>
            </div>

            <button class="btn btn-dark w-100 mt-3">
                Filtering
            </button>
            <button class="btn btn-outline-dark w-100 mt-3">
                Reset filter
            </button>

        </div>
        <div class="col-12 col-md-9 ">
            <app-breadcrumb [breadCrumbList]="breadCrumb"></app-breadcrumb>
            <div class="d-flex justify-content-end pr-4">
                <div class="btn-group py-3 filter-dropdown" dropdown>
                    <button dropdownToggle type="button" class="btn dropdown-toggle"
                        aria-controls="dropdown-basic">{{productParams.orderBy}}
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                        aria-labelledby="button-basic">
                        <li class="dropdown-item">
                            <a class="text-dark" (click)="sort('Newest')">Newest</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="text-dark" (click)="sort('Price (high-low)')">Price &#40;high-low&#41;</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="text-dark" (click)="sort('Price (low-high)')">Price &#40;low-high&#41;</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="text-dark" (click)="sort('Best seller')">Best seller</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row w-100 mx-auto product-list" *ngIf="!skeletonLoading">
              <div *ngFor="let product of products" class="col-6 col-md-4 col-lg-3">
                <app-product-card [product]="product"></app-product-card>
              </div>
            </div>
            <div class="skeleton" *ngIf="skeletonLoading">
              <div class="row w-100 mx-auto" >
                <div
                  *ngFor="let key of skeletonItems"
                  class="col-6 col-md-4 col-lg-3"
                >
                  <div class="card card-img-wrapper border-0 mb-3 shadow-sm">
                    <div class="rect-img-container">
                      <div class="rect-img skeleton-loading-container"></div>
                    </div>

                    <div class="card-body mt-3">
                      <div class="skeleton-text skeleton-long-text skeleton-loading-container"></div>
                      <div class="mt-1 skeleton-text skeleton-short-text skeleton-loading-container"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-4" *ngIf="pagination">
                <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)" previousText="Previous" nextText="Next" firstText="First"
                    lastText="Last">
                </pagination>
            </div>
        </div>
    </div>
</div>
