
.cover {
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.active-filter-list
{
  vertical-align: middle;
}
  @media (min-width: 768px) {
    .cover {
      min-height: 50vh;
    }

    .product-list-container
    {
      justify-content: center;
      max-width: 1400px;
    }
  }

@media (max-width: 768px) {
    .p {
      font-size: 3.5rem;
    }

    .cover {
      min-height: 20vh;
    }
}

.filter-dropdown > button{
  text-align: right;
}

.filter-dropdown > ul {
  border: 2px solid rgb(239, 239, 239);
}

.dropdown-item:active
{
    background-color: rgb(223, 223, 223) !important;
}

.product-list, .skeleton
{
  transition: all 1s ease-in-out;
}
/* 
li:empty
{
  display: none;
} */

li:hover, li.selected
{
  background: #f8f9fa;
}