<div class="container-fluid px-3">
  <!-- Section title -->
  <h4 *ngIf="!minimize">Categories</h4>

  <!-- Section content -->
  <div class="d-flex flex-wrap w-100 mb-2">
    <!-- Search bar -->
    <div class="mr-auto w-sm-100">
      <div class="input-group mb-1">
        <input
          [(ngModel)]="categoryParams.query"
          type="text"
          (ngModelChange)="loadCategories()"
          class="form-control"
          placeholder="Category..."
          aria-describedby="button-addon2"
          (keydown.enter)="loadCategories()"
        />

        <div class="input-group-append">
          <button
            class="btn btn-primary"
            type="button"
            id="button-addon2"
            (click)="loadCategories()"
          >
            <span><i class="fa fa-search"></i></span>&nbsp; Search
          </button>
        </div>
      </div>
    </div>

    <!-- Gender filter button -->
    <div class="position-relative mr-2" *ngIf="!minimize">
      <button
        class="btn btn-light status-button"
        (click)="genderFilterToggle()"
      >
        Gender&nbsp;&nbsp;<span class="badge text-light bg-primary">{{
          categoryParams.genders.length
        }}</span
        >&nbsp;&nbsp;<span><i class="fa fa-caret-down"></i></span>
      </button>

      <div
        class="position-absolute mt-3 status-dropdown"
        *ngIf="showGenderFilter"
      >
        <ul class="list-group">
          <li class="list-group-item">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input cs-pointer"
                id="allGenderCheckbok"
                (click)="selectAllGender()"
                [checked]="isAllGenderIncluded()"
              />
              <label class="custom-control-label" for="allGenderCheckbok"
                >Select all</label
              >
            </div>
          </li>

          <li class="list-group-item" *ngFor="let gender of genders">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input cs-pointer"
                id="{{ gender.name }}"
                (click)="selectGender(gender.id)"
                [checked]="isGenderIncluded(gender.id)"
              />
              <label class="custom-control-label" for="{{ gender.name }}">{{
                gender.name
              }}</label>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Status filter button -->
    <div class="position-relative">
      <button
        class="btn btn-light status-button"
        (click)="statusFilterToggle()"
      >
        Status&nbsp;&nbsp;<span class="badge text-light bg-primary">{{
          categoryParams.categoryStatus.length
        }}</span
        >&nbsp;&nbsp;<span><i class="fa fa-caret-down"></i></span>
      </button>

      <div
        class="position-absolute mt-3 status-dropdown"
        *ngIf="showStatusFilter"
      >
        <ul class="list-group">
          <li class="list-group-item">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input cs-pointer"
                id="allStatusCheckbok"
                (click)="selectAllCategoryStatus()"
                [checked]="isAllStatusIncluded()"
              />
              <label class="custom-control-label" for="allStatusCheckbok"
                >Select all</label
              >
            </div>
          </li>

          <li class="list-group-item" *ngFor="let status of genericStatus">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input cs-pointer"
                id="{{ status.name }}"
                (click)="selectStatus(status.id)"
                [checked]="isStatusIncluded(status.id)"
              />
              <label class="custom-control-label" for="{{ status.name }}">{{
                status.name
              }}</label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Action button -->
  <div
    class="d-flex d-inline-block flex-wrap justify-content-lg-end mb-2"
    *ngIf="!minimize"
  >
    <!-- Create button -->
    <button
      class="btn btn-success mr-2 mb-2"
      routerLink="/administrator/category-manager/add"
    >
      <span><i class="fa fa-plus"></i></span>&nbsp; Create
    </button>

    <!-- Edit button -->
    <button
      class="btn btn-warning mr-2 mb-2"
      [class.disabled]="!isSingleSelected()"
      (click)="editCategory()"
    >
      <span><i class="fa fa-pencil"></i></span>&nbsp; Edit
    </button>

    <!-- Hide button -->
    <button
      class="btn btn-dark mr-2 mb-2"
      (click)="hideCategories()"
      [class.disabled]="!isMultipleSelected()"
    >
      <span><i class="fa fa-eye-slash"></i></span>&nbsp;Hide
    </button>

    <!-- Hide/Unhide button -->
    <button
      class="btn btn-light mr-2 mb-2"
      (click)="activateCategories()"
      [class.disabled]="!isMultipleSelected()"
    >
      <span><i class="fa fa-eye"></i></span>&nbsp;Unhide
    </button>

    <!-- Delete button -->
    <button
      class="btn btn-danger mr-2 mb-2"
      (click)="deleteCategories()"
      [class.disabled]="!isMultipleSelected()"
    >
      <span><i class="fa fa-trash"></i></span>&nbsp; Delete
    </button>

    <!-- Set editor choice button -->
    <button
      class="btn btn-outline-info mr-2 mb-2"
      [class.disabled]="!isSingleSelected()"
      (click)="setEditorChoice()"
    >
      <span><i class="fa fa-arrow-up"></i></span>&nbsp; Promote
    </button>

    <!-- Remove editor choice button -->
    <button
      class="btn btn-info mr-2 mb-2"
      [class.disabled]="!isSingleSelected()"
      (click)="removeEditorChoice()"
    >
      <span><i class="fa fa-arrow-down"></i></span>&nbsp; Demote
    </button>
  </div>

  <!-- Category table -->
  <div class="table-responsive w-100" *ngIf="categories">
    <table class="table table-striped table-borderless">
      <thead class="bg-light">
        <tr>
          <th scope="col">
            <input
              type="checkbox"
              [checked]="selectAll"
              (click)="selectAllCategories()"
            />
          </th>
          <!-- Id column -->
          <th
            scope="col"
            class="cs-pointer text-center"
            (click)="orderBy('id')"
          >
            Category ID&nbsp;
            <span
              ><i
                *ngIf="categoryParams.field == 'id'"
                [@rotatedState]="state"
                class="fa fa-arrow-up"
              ></i
            ></span>
          </th>
          <!-- Category name column -->
          <th
            scope="col"
            class="cs-pointer text-center"
            (click)="orderBy('categoryName')"
          >
            Category name&nbsp;
            <span
              ><i
                *ngIf="categoryParams.field == 'categoryName'"
                [@rotatedState]="state"
                class="fa fa-arrow-up"
              ></i
            ></span>
          </th>
          <!-- Category name column -->

          <th
            scope="col"
            class="cs-pointer text-center"
            (click)="orderBy('parentCategory')"
          >
            Parent category&nbsp;
            <span
              ><i
                *ngIf="categoryParams.field == 'parentCategory'"
                [@rotatedState]="state"
                class="fa fa-arrow-up"
              ></i
            ></span>
          </th>

          <!-- Gender column -->
          <th
            scope="col"
            class="cs-pointer text-center"
            (click)="orderBy('gender')"
          >
            Gender&nbsp;
            <span
              ><i
                *ngIf="categoryParams.field == 'gender'"
                [@rotatedState]="state"
                class="fa fa-arrow-up"
              ></i
            ></span>
          </th>

          <!-- Is promoted column -->
          <th
            scope="col"
            class="cs-pointer text-center"
            (click)="orderBy('promoted')"
          >
            Promoted&nbsp;
            <span
              ><i
                *ngIf="categoryParams.field == 'promoted'"
                [@rotatedState]="state"
                class="fa fa-arrow-up"
              ></i
            ></span>
          </th>

          <!-- Thumbnail column -->
          <th scope="col" class="text-center">Thumbnail</th>

          <!-- Status column -->
          <th
            scope="col"
            class="cs-pointer text-center"
            (click)="orderBy('status')"
          >
            Status&nbsp;
            <span
              ><i
                *ngIf="categoryParams.field == 'status'"
                [@rotatedState]="state"
                class="fa fa-arrow-up"
              ></i
            ></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="category-item"
          *ngFor="let category of categories"
          (click)="selectCategory(category.id)"
        >
          <td>
            <input
              type="checkbox"
              [value]="category.Id"
              [checked]="isCategorySelected(category.id)"
            />
          </td>
          <td class="text-center cs-pointer" (click)="viewDetail(category.id)">
            {{ category.id }}
          </td>
          <td
            class="text-center cs-pointer"
            style="max-width: 150px"
            (click)="viewDetail(category.id)"
          >
            {{ category.categoryName }}
          </td>

          <td class="text-center cs-pointer" (click)="viewDetail(category.id)">
            {{ category.parentCategory }}
          </td>

          <td class="text-center cs-pointer" (click)="viewDetail(category.id)">
            {{ category.genderName }}
          </td>

          <td class="text-center cs-pointer" (click)="viewDetail(category.id)">
            <i class="fa fa-check text-info" *ngIf="category.isPromoted"></i>
          </td>

          <td (click)="viewDetail(category.id)">
            <div class="rect-img-container">
              <img
                class="rect-img"
                src="{{ category.categoryImageUrl }}"
                alt=""
              />
            </div>
          </td>

          <td class="text-center cs-pointer" (click)="viewDetail(category.id)">
            <div class="btn px-3 py-1" [class]="getStateStyle(category)">
              <h6 class="m-0">{{ getCategoryState(category) }}</h6>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="pagination && !minimize" class="w-100">
    Total: {{ pagination.totalItems }}
    <span *ngIf="pagination.totalItems == 1">category</span>
    <span *ngIf="pagination.totalItems > 1">categories</span>
  </div>

  <!-- Pagination -->
  <div
    class="w-100 d-flex d-inline-block justify-content-between mt-5"
    *ngIf="pagination"
  >
    <div class="d-flex d-inline" *ngIf="!minimize">
      <div class="input-group pagination-navigation">
        <label class="form-control" for="">Page size</label>
        <input
          [(ngModel)]="categoryParams.pageSize"
          type="number"
          (ngModelChange)="loadCategories()"
          class="form-control border"
          aria-describedby="button-addon2"
          (keydown.enter)="loadCategories()"
        />
      </div>
      <div class="input-group pagination-navigation ml-3">
        <label class="form-control" for="">Go to page</label>
        <input
          [(ngModel)]="categoryParams.pageNumber"
          type="number"
          class="form-control border"
          aria-describedby="button-addon2"
          (keydown.enter)="loadCategories()"
        />
      </div>
    </div>

    <div class="ml-auto">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="Previous"
        nextText="Next"
        firstText="First"
        lastText="Last"
      >
      </pagination>
    </div>
  </div>
</div>
