<div class="container mx-0 px-0 w-100">
    <div class="mt-3 mt-md-5">
        <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="false" [isAnimated]="true" [interval]="0" [indicatorsByChunk]="true"
            [noWrap]="true">
            <slide *ngFor="let slide of products; let index=index">
                <div class="px-1 px-md-3 px-lg-4">
                    <app-product-card [product]="slide"></app-product-card>
                </div>
            </slide>
        </carousel>
    </div>
</div>