<div class="modal-header">
  <h5 class="modal-title text-center w-100">{{ title }}</h5>
</div>
<div class="modal-body p-4">
  <p class="text-center">{{ message }}</p>
  <div *ngIf="showReasonTextBox">
    <div class="form-group">
      <label for="reason">Reason</label>
      <textarea
        class="form-control"
        id="reason"
        rows="3"
        [(ngModel)]="confirmResult.reason"
      ></textarea>
    </div>
  </div>
</div>
<div class="modal-footer d-flex p-0">
    <div class="flex-fill my-auto cs-pointer text-danger text-center border-right p-3"  (click)="decline()">
        {{ btnNoText }}
    </div>
    <div class="flex-fill my-auto cs-pointer text-primary text-center p-3" (click)="confirm()">
        {{ btnYesText }}
    </div>
</div>
