<div class="container">
  <carousel class="w-100" [isAnimated]="true">
    <slide>
      <div class="carousel-container">
        <img src="../../../assets/carousel_1.webp" class="image" style="width: 100%;">
        <div class="p-2 mb-4 rounded-3 carousel-text carousel-text-left">
          <div class="container-fluid py-5">
            <h3 class="display-5 fw-bold">Women's clothes</h3>
            <h1 class="display-5 fw-bold title">Summer Collection</h1>
            <p class="col-md-5 px-0">Using a series of utilities, you can create this jumbotron, just like the one in
              previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your
              liking.</p>
            <button class="btn btn-dark btn-lg round-0" type="button">Shop now</button>
          </div>
        </div>
      </div>
    </slide>
    <slide>
      <div class="carousel-container">
        <img src="../../../assets/carousel_2.webp" class="image" style="width: 100%;">
        <div class="p-2 mb-4 rounded-3 text-center w-100 carousel-text">
          <div class="container-fluid py-5 text-center text-dark">
            <h3 class="display-5 fw-bold">Promotion</h3>
            <h1 class="display-5 fw-bold title">Summer Sale 2022</h1>
            <h2 class="col-md-5 mx-auto fw-bold">Up to 70%</h2>
            <button class="btn btn-dark btn-lg round-0" type="button">Shop now</button>
          </div>
        </div>
      </div>
    </slide>

    

  </carousel>

</div>