<section class="gallery">
    <div class="container bg-transparent px-lg-0">
        <div class="img-container w-100">
            <div class="img-show rect-img-container position-relative">
                <img class="rect-img" src="{{photos[0]?.url}}" alt="Image" id="preview">
                <div *ngIf="photos.length > 1" class="button position-absolute top-50">
                    <button class="btn btn-light border-top-left-0 border-bottom-left-0" 
                        ButtonImageClick 
                        [currentPositon]="currentPositon" 
                        [size]="size"
                        [action]="'previous'"
                        (click)="previous()">
                        &larr;
                    </button>
                </div>
                <div  *ngIf="photos.length > 1" class="button position-absolute top-50 end-0" >
                    <button class="btn btn-light border-top-right-0 border-bottom-right-0"  
                        ButtonImageClick 
                        [currentPositon]="currentPositon" 
                        [size]="size"
                        [action]="'next'"
                        (click)="next()">
                        &rarr;
                    </button>
                </div>
            </div>
            <div class="img-prev mt-3">
                <div [class.active]="photo.url == photos[currentPositon].url" *ngFor="let photo of photos; let i = index" class="img-slide d-inline-block">
                    <img (click)="select(i)"  class="p-3 w-100 h-100" src="{{photo.url}}" alt="Image {{i}}" ImagePreviewClick>
                </div>
            </div>
        </div>
    </div>
</section>