.img-slide {
    width: calc(20% - 2px);
    margin: 0 1px;
    cursor: pointer;
    opacity: 0.7;
    border: 2px solid transparent;
}

.img-show:focus .button, .img-show:hover .button{
    opacity: 0.9;
}

.button {
    opacity: 0;
}

.active {
    border: 2px solid black;
    opacity: 1;
}

.img-container > img {
    max-height: 500px !important;
    object-fit: contain;
}

.img-slide > img {
    max-height: 100px !important;
    object-fit: contain;
}