<div class="container-fluid py-3" *ngIf="product">
  <div class="d-flex w-100 py-1">
    <button
      class="btn btn-light"
      routerLink="/administrator/product-manager"
    >
      <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back
    </button>
  </div>

  <div class="d-flex d-inline-block w-100 py-1">
    <div class="product-heading d-flex">
      <div class="rect-img-container mr-3">
        <img class="rect-img" src="{{ product.url }}" alt="" />
      </div>
      <div>
        <div class="product-title">
          <h3 class="text-uppercase">{{ product.productName }}</h3>
        </div>
        <div class="btn px-3 py-1" [style]="getStateStyle()">
          <h5 class="text-white m-0">{{ getProductState() }}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end w-100 py-2 mb-3">
    <div class="p-2">
      <button
        class="btn btn-light"
        routerLink="/administrator/product-manager/photos/{{ product.id }}"
      >
        <span><i class="fa fa-picture-o"></i></span>&nbsp;Photos
      </button>
    </div>

    <div class="p-2">
        
      <button class="btn btn-light">
        <span><i class="fa fa-list"></i></span>&nbsp;Options
    </button>
    </div>

    <div class="p-2">
      <button class="btn btn-light">
        <span><i class="fa fa-cubes"></i></span>&nbsp;Stock
    </button>
    </div>

    <div class="p-2">
        <button class="btn btn-warning" (click)="editProduct()"> <span><i class="fa fa-pencil" ></i></span>&nbsp;Edit</button>
    </div>

    <div class="p-2">
      <button class="btn btn-dark" *ngIf="product.status == 0; else unhide" (click)="hideProduct()"><span><i class="fa fa-eye-slash"></i></span>&nbsp;Hide</button>
      <ng-template #unhide> 
        <button class="btn btn-light" (click)="hideProduct()"><span><i class="fa fa-eye"></i></span>&nbsp;Unhide</button>
    </ng-template>
      
    </div>
    <div class="p-2">
      <button class="btn btn-danger" (click)="deleteProduct()"><span><i class="fa fa-trash"></i></span>&nbsp;Delete</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h5 class="text-muted">Product information</h5>
      <hr />
    </div>

    <div class="col-12 col-lg-4">
      <label for="basic-url">Product ID</label>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          [disabled]="true"
          [value]="product.id"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div>

      <label for="basic-url">Product name</label>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          [disabled]="true"
          [value]="product.productName"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div>
    </div>

    <div class="col-12 col-lg-4">

      <label for="basic-url">Price</label>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          [disabled]="true"
          [value]="product.price"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div>

      <label for="basic-url">Brand</label>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          [disabled]="true"
          [value]="product.brandName"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <label for="basic-url">Category</label>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          [disabled]="true"
          [value]="product.categoryName"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div>

      <label for="basic-url">Sub category</label>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          *ngIf="product.subCategoryName == undefine; hasSubCategoryName"
          [disabled]="true"
          [value]="'None'"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
        <ng-template #hasSubCategoryName>
          <input
            type="text"
            class="form-control"
            [disabled]="true"
            [value]="product.subCategoryName"
            id="basic-url"
            aria-describedby="basic-addon3"
          />
        </ng-template>
      </div>

      
    </div>

    <div class="col-12">
      <div class="d-flex justify-content-between mb-2">
        <label for="basic-url">Desciption</label>
        <button
          *ngIf="!descriptionReview"
          class="btn btn-primary"
          (click)="descriptionPreviewToggle()"
        >
          View preview
        </button>
        <button
          *ngIf="descriptionReview"
          class="btn btn-danger"
          (click)="descriptionPreviewToggle()"
        >
          Hide preview
        </button>
      </div>
      <div class="input-group mb-3">
        <textarea
          rows="4"
          class="form-control"
          [disabled]="true"
          [value]="product.description"
          id="basic-url"
          aria-describedby="basic-addon3"
        ></textarea>
      </div>
      <div
        *ngIf="
          descriptionReview && product.description != undefine;
          noDescriptionPreview
        "
      >
        <label for="basic-url">Desciption preview</label>
        <div
          class="w-100 border p-3"
          [innerHtml]="product.description | safeUrl"
        ></div>
      </div>
      <ng-template #noDescriptionPreview>
        <div>
          <label for="basic-url">Desciption preview</label>
          <div class="w-100 border p-3">
            <h5>No preview available</h5>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
