
<div class="bg-light p-2" *ngIf="carousel">
  <div class="carousel position-relative">
    <img class="slide" [src]="carousel.imageUrl" />
    <button class="control prev">
        <span class="arrow left"></span>
    </button>
    <button class="control next">
        <span class="arrow right"></span>
    </button>
    <div class="carousel-text position-absolute" [style]="carouselTextStyle">
      <h1
        class="carousel-title"
        *ngIf="carousel.title != '' || carousel.title != undefined"
      >
        {{ carousel.title }}
      </h1>
      <p
        class="carousel-description"
        *ngIf="carousel.description != '' || carousel.description != undefined"
      >
        {{ carousel.description }}
      </p>
      <a
        class="carousel-navigation text-dark"
        *ngIf="
          carousel.navigationText != '' || carousel.navigationText != undefined
        "
        routerLink="{{ carousel.link }}"
        >{{ carousel.navigationText }}</a
      >
    </div>
  </div>
</div>
