<nav
  #nav
  *ngIf="settingValue$ | async as setting"
  [style]="setting.navHeight"
  class="navbar sticky-top navbar-expand-lg navbar-light bg-white shadow-sm"
>
  <div class="container-fluid mx-md-3">
    <!-- Mobile navigation bar button -->
    <div class="nav-container">
      <button
        class="navbar-toggler p-1"
        type="button"
        (click)="navigationBarToggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!-- Brand logo (both mobile and desktop) -->
    <div class="brand nav-container text-center text-lg-left">
      <h2 class="m-0 p-0 text-uppercase" href="#">Test</h2>
    </div>

    <!-- Right navigation icon (both mobile and desktop) -->
    <div class="d-flex d-inline-block nav-container justify-content-end">
      <button class="btn nav-btn d-lg-none" (click)="searchWindowToggle()">
        <img
          class="nav-icon-mobile"
          src="../../../assets/search.svg"
          alt="search"
        />
      </button>
      <button
        class="btn position-relative nav-btn cart-btn d-lg-none"
        (click)="cartWindowToggle()"
      >
        <img
          class="nav-icon-mobile"
          src="../../../assets/cart.svg"
          alt="cart"
        />
        <span
          *ngIf="cartService.currentCarts$ | async as cartItemList"
          class="position-absolute text-light translate-middle badge p-1 bg-danger"
        >
          {{ cartItemList.totalItem }}
        </span>
      </button>
    </div>

    <div class="navbar-collapse bg-white" [class.collapse]="collapseNavbar">
      <!-- Desktop navigation -->
      <ul class="navbar-nav" [class.d-none]="setting.deviceType == 'mobile'">
        <li
          class="nav-item ml-lg-3 cs-pointer"
          (mouseleave)="setCollapseCategory(true)"
          (mouseenter)="selectCategoryGroup(-1)"
        >
          <a class="nav-link text-uppercase" aria-current="page" routerLink="/"
            >Home</a
          >
        </li>

        <li
          class="nav-item cs-pointer"
          *ngFor="let item of categoryGroups; let i = index"
        >
          <a
            class="nav-link text-uppercase"
            [class]="{
              'bg-light': selectedCategoryGroup.gender == item.gender
            }"
            (mouseenter)="setCollapseCategory(false)"
            (mouseenter)="selectCategoryGroup(i)"
            >{{ item.genderTitle }}</a
          >
        </li>

        <li
          class="nav-item cs-pointer"
          (mouseleave)="setCollapseCategory(true)"
          (mouseenter)="selectCategoryGroup(-1)"
        >
          <a class="nav-link text-uppercase text-danger">Sale off</a>
        </li>
        <li
          class="nav-item cs-pointer"
          routerLink="/news"
          (mouseleave)="setCollapseCategory(true)"
          (mouseenter)="selectCategoryGroup(-1)"
        >
          <a class="nav-link text-uppercase">Blogs</a>
        </li>
      </ul>

      <!-- Mobile navigation -->
      <ul
        class="navbar-nav me-auto pt-4 pt-md-2 pl-lg-0"
        [class.d-none]="setting.deviceType != 'mobile'"
        *ngIf="selectedCategoryGroup && hideCategoryGroupDetail"
      >
        <li class="nav-item my-2">
          <a
            class="nav-link p-2 text-uppercase"
            aria-current="page"
            routerLink="/"
            >Home</a
          >
        </li>

        <!-- Mobile category -->
        <li
          dropdown
          class="nav-item my-2 dropdown"
          *ngFor="let item of categoryGroups; let i = index"
        >
          <div
            class="cs-pointer d-flex justify-content-between align-items-center"
            (click)="selectCategoryGroup(i)"
            (click)="hideCategoryGroupDetailToggle()"
          >
            <a class="nav-link p-2 text-uppercase">{{ item.genderTitle }}</a>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
        </li>

        <li class="nav-item my-2">
          <a
            class="nav-link p-2 text-uppercase text-danger"
            aria-current="page"
            routerLink="/"
            >Sale off</a
          >
        </li>

        <li class="nav-item my-2" routerLink="/news">
          <a class="nav-link p-2 text-uppercase">Blogs</a>
        </li>

        <hr class="w-100" style="height: 1px" />

        <li class="nav-item my-2" *ngIf="user">
          <a
            class="nav-link p-2 text-uppercase"
            aria-current="page"
            (click)="viewAccount('information')"
            >My account</a
          >
        </li>

        <li class="nav-item my-2" *ngIf="user">
          <a
            class="nav-link p-2 text-uppercase"
            aria-current="page"
            (click)="viewAccount('orders')"
            >My orders</a
          >
        </li>

        <li class="nav-item my-2" *ngIf="user">
          <a
            class="nav-link p-2 text-uppercase"
            aria-current="page"
            (click)="viewAccount('favorites')"
            >Favorites</a
          >
        </li>

        <li class="nav-item my-2" *ngIf="user">
          <a
            class="nav-link p-2 text-uppercase"
            aria-current="page"
            (click)="viewAccount('payment')"
            >Payment methods</a
          >
        </li>

        <li class="nav-item my-2" *ngIf="user">
          <a
            class="nav-link p-2 text-uppercase"
            aria-current="page"
            (click)="logout()"
            >Logout</a
          >
        </li>

        <li class="nav-item my-2" *ngIf="!user">
          <a class="nav-link text-dark p-2 text-uppercase" routerLink="/login"
            >Login</a
          >
        </li>

        <li class="nav-item my-2" *ngIf="!user">
          <a
            class="nav-link text-dark p-2 text-uppercase"
            *ngIf="!user"
            routerLink="/register"
            >Register</a
          >
        </li>
      </ul>

      <!-- Mobile category detail -->
      <div
        [class.d-none]="setting.deviceType != 'mobile'"
        class="mt-3"
        *ngIf="selectedCategoryGroup && !hideCategoryGroupDetail"
      >
        <button
          class="btn btn-transparent d-flex d-inline-block align-items-center"
          (click)="hideCategoryGroupDetailToggle()"
        >
          <i class="fa fa-arrow-left"></i>
          &nbsp;&nbsp;
          <h5 class="text-capitalize p-0 m-0">
            {{ selectedCategoryGroup.genderTitle }}
          </h5>
        </button>
        <ul
          class="navbar-nav mt-3"
          [class.d-none]="setting.deviceType != 'mobile'"
        >
          <li
            class="nav-item mt-1 ml-lg-3"
            dropdown
            *ngFor="let category of selectedCategoryGroup.categories"
          >
            <a
              class="nav-link p-2 text-uppercase dropdown-toggle"
              dropdownToggle
              aria-current="page"
              routerLink="/"
              >{{ category.categoryName }}</a
            >
            <ul
              id="dropdown-basic"
              *dropdownMenu
              class="dropdown-menu border-0"
              role="menu"
              aria-labelledby="button-basic"
            >
              <li
                role="menuitem"
                *ngFor="let subCategory of category.subCategories"
                (click)="
                  viewCategory(
                    subCategory.categoryName,
                    subCategory.slug,
                    selectedCategoryGroup.gender
                  )
                "
              >
                <a
                  class="nav-link py-2 pl-4 pr-2 text-uppercase text-uppercase"
                  >{{ subCategory.categoryName }}</a
                >
              </li>
              <li
                (click)="
                  viewCategory(
                    category.categoryName,
                    category.slug,
                    selectedCategoryGroup.gender
                  )
                "
              >
                <a
                  class="nav-link py-2 pl-4 pr-2 text-uppercase text-uppercase"
                >
                  View all {{ category.categoryName }}</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="d-none d-lg-block">
        <div class="d-flex flex-fill justify-content-lg-end">
          <div
            class="input-group"
            *ngIf="!collapseSearchBar && setting.deviceType == 'desktop'"
            style="min-width: 200px; max-width: 300px"
          >
            <input
              type="text"
              style="height: 35px"
              class="form-control border-top-right-0 border-bottom-right-0"
              placeholder="Search"
            />
            <button
              class="btn btn-light border-bottom-left-0 border-top-left-0 position-relative nav-btn position-relative p-2"
            >
              <img class="nav-icon" src="../../../assets/search.svg" />
            </button>
            <button class="btn nav-btn p-2" (click)="searchWindowToggle()">
              <img class="nav-icon" src="../../../assets/x.svg" />
            </button>
          </div>
          <button
            *ngIf="collapseSearchBar && setting.deviceType == 'desktop'"
            class="btn nav-btn position-relative p-2"
            (click)="searchWindowToggle()"
          >
            <img class="nav-icon" src="../../../assets/search.svg" />
          </button>

          <button
            class="btn nav-btn position-relative py-2 pl-2 cart-btn"
            (click)="cartWindowToggle()"
          >
            <img class="nav-icon" src="../../../assets/cart.svg" alt="cart" />
            <span
              *ngIf="cartService.currentCarts$ | async as cartItemList"
              class="position-absolute text-light translate-middle badge p-1 bg-danger"
            >
              {{ cartItemList.totalItem }}
            </span>
          </button>
          <button
            class="btn nav-btn p-2"
            *ngIf="user"
            (click)="viewAccount('favorites')"
          >
            <img
              class="nav-icon"
              src="../../../assets/heart.svg"
              alt="favorites"
            />
          </button>
          <div class="dropdown" dropdown *ngIf="user">
            <button
              class="btn nav-btn p-2"
              dropdownToggle
              (click)="collapseAll()"
            >
              <img class="nav-icon" src="../../../assets/user.svg" alt="user" />
            </button>
            <div class="dropdown-menu dropdown-menu-end mt-3" *dropdownMenu>
              <a (click)="viewAccount('information')" class="dropdown-item"
                >My account</a
              >
              <a (click)="viewAccount('orders')" class="dropdown-item"
                >My orders</a
              >
              <a (click)="viewAccount('payment')" class="dropdown-item"
                >Payment information</a
              >
              <a (click)="logout()" class="dropdown-item">Log out</a>
            </div>
          </div>

          <a
            class="text-dark p-2 text-uppercase"
            *ngIf="!user"
            routerLink="/login"
            >Login</a
          >

          <a
            class="text-dark p-2 text-uppercase"
            *ngIf="!user"
            routerLink="/register"
            >Register</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Search bar -->
  <ng-container *ngIf="!collapseSearchWindow">
    <div
      [style]="setting.navMargin"
      class="bg-white search-bar position-absolute shadow-sm sticky-top"
    >
      <app-search-bar></app-search-bar>
    </div>
  </ng-container>

  <!-- Cart -->
  <div *ngIf="!collapseCartWindow">
    <div
      [style]="setting.navMargin"
      class="bg-transparent position-absolute cart shadow-sm sticky-top"
    >
      <app-cart
        (hideCart)="cartWindowToggle()"
        (goToCheckout)="cartCheckoutToggle()"
      ></app-cart>
    </div>
  </div>

  <!-- Checkout -->
  <div *ngIf="!collapseCheckoutWindow">
    <div
      [style]="setting.navMargin"
      class="bg-transparent position-absolute checkout shadow-sm sticky-top"
    >
      <app-check-out
        (hideCheckout)="checkOutWindowToggle()"
        (backToCart)="cartCheckoutToggle()"
      ></app-check-out>
    </div>
  </div>

  <!-- Desktop category  -->
  <ng-container
    *ngIf="
      selectedCategoryGroup &&
      selectedCategoryGroup.gender >= 0 &&
      !collapseCategory
    "
    class="d-md-none d-lg-block"
  >
    <div
      [style]="setting.navMargin"
      (mouseleave)="setCollapseCategory(true)"
      class="bg-white position-absolute shadow-sm sticky-top category-window"
    >
      <div class="p-3">
        <div class="row category-list-container">
          <div
            class="col-4"
            *ngFor="let category of selectedCategoryGroup.categories"
          >
            <div
              class="p-3 cs-pointer category-name"
              (click)="
                viewCategory(
                  category.categoryName,
                  category.slug,
                  selectedCategoryGroup.gender
                )
              "
            >
              <h4 class="m-0 p-0">
                {{ category.categoryName }}
              </h4>
            </div>
            <hr />
            <ul class="list-group my-1">
              <li
                class="list-group-item border-0 cs-pointer sub-category-name"
                *ngFor="let subCategory of category.subCategories"
                (click)="
                  viewCategory(
                    subCategory.categoryName,
                    subCategory.slug,
                    selectedCategoryGroup.gender
                  )
                "
              >
                <a class="text-dark">{{ subCategory.categoryName }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nav>
