.navbar {
  display: flex;
}

.cart,
.checkout,
.search-bar,
.category-window,
.mobile-category {
  top: 0;
  left: 0;
  z-index: 1019;
}

.cart,
.checkout,
.search-bar,
.category-window {
  min-width: 100%;
}

.category-list-container {
  padding: 0 100px;
}

.category-name:hover,
.sub-category-name:hover,
.nav-link:hover,
.nav-btn:hover {
  background: #f0faed;
}

/* Icon sizing */





/* Button */

.navbar-toggler {
  border: none;
  padding-left: 0;
}

/* Navigation link */
.nav-link-right {
  color: black;
  padding: 0.5rem 0 0.5rem 1rem;
}

/* For desktop */
@media (min-width: 992px) {
  .navbar-collapse {
    display: inline;
    justify-content: space-between;
  }

  .cart-btn {
    padding-right: 1.75rem;
  }

  .nav-btn {
    display: grid;
    margin-right: 0.5rem;
    vertical-align: middle;
    min-width: 35px;
    max-width: 35px;
  }

  .center {
    top: 50%;
    transform: translateY(-50%);
    max-width: 50px;
  }

  .nav-btn,
  .form-group,
  .form-control {
    min-height: 35px;
    max-height: 35px;
  }

  
}

/* For mobile and tablet */
@media (max-width: 992px) {
  .nav-container {
    width: 30%;
  }

  .navbar-collapse {
    min-height: 95vh;
    max-height: 95vh;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .navbar-collapse::-webkit-scrollbar {
    display: none;
  }

 

  .nav-btn {
    max-height: 35px;
  }

  
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > div > p,
.row > div > div > p,
.row > div > div > input,
.row > div > div > button,
.row > div > div > i {
  font-size: small;
}

.badge {
  font-size: xx-small;
  top: 0;
  right: 0;
  height: 17px;
  width: 17px;
  border-radius: 999px;
}

.desktop-search-bar-container {
  min-width: 20vw;
  max-width: 300px;
  min-height: 35px;
  max-height: 35px;
}

.desktop-search-bar-container > div > button {
  min-height: 35px;
  max-height: 35px;
}
