.navbar {
  display: flex;
}

.search-bar {
  top: 0;
  left: 0;
  margin-top: 8vh;
  min-width: 100%;
  z-index: 1021;
}

/* Category section */
.category-window {
  top: 0;
  left: 0;
  margin-top: 8vh;
  min-width: 100%;
  z-index: 1021;
}

.category-list-container
{
  padding: 0 25vh;
}

.category-name:hover, .sub-category-name:hover
{
  background: #f8f9fa;
}

/* Icon sizing */
.nav-btn > img {
  min-height: 17px;
  max-height: 17px;
  object-position: center;
}

.nav-icon-mobile {
  height: 22px;
  width: 22px;
}

/* Button */
.nav-btn {
  margin-right: 1rem;
  display: grid;
  vertical-align: middle;
  min-width: 35px;
  min-height: 35px;
  max-width: 35px;
  max-height: 35px;
}

.navbar-toggler {
  border: none;
  padding-left: 0;
}


/* Navigation link */
.nav-link-right {
  color: black;
  padding: .5rem 0 .5rem 1rem;
}

/* For desktop */
@media (min-width: 1268px) {
  .navbar-collapse {
    display: inline;
    justify-content: space-between;
  }

  .navbar {
    height: 9vh;
  }
}

/* For tablet and desktop */
@media (min-width: 768px) {
  .navbar-collapse {
    justify-content: space-between;
  }
}

/* For mobile */
@media (max-width: 768px) {


}





