<div class="container py-5 px-0">

    <div class="w-100 text-center">
        <h6 class="text-uppercase text-muted">new collections</h6>
        <h1 class="text-uppercase mb-5 collection-name">Summer 2022</h1>
    </div>

    <div class="collection-container">
        <div class="d-flex flex-wrap mx-auto">

            <div class="w-66">
                <div class="img-container position-relative">
                    <img src="../../../assets/collection_6.webp" alt="" class="w-100">
                    <div class="position-absolute text-right collection-text collection-text-right w-100">
                        <h2>Sunglasses</h2>
                        <a href="" class="text-dark">Shop now</a>
                    </div>
                </div>
            </div>

            <div class="w-33">
                <div class="img-container position-relative">
                    <img src="../../../assets/collection_3.webp" alt="" class="w-100">
                    <div class="position-absolute collection-text text-center w-100">
                        <h2 class="text-light">Sun Hat</h2>
                        <a href="" class="text-light">Shop now</a>
                    </div>
                </div>
            </div>

            <div class="w-33 margin-top">
                <div class="img-container position-relative">
                    <img src="../../../assets/collection_4.webp" alt="" class="w-100">
                    <div class="position-absolute collection-text text-center w-100">
                        <h2 class="text-light">T-shirt</h2>
                        <a href="" class="text-light">Shop now</a>
                    </div>
                </div>
            </div>
            
            <div class="w-66 margin-top">
                <div class="img-container position-relative">
                    <img src="../../../assets/collection_1.webp" alt="" class="w-100">
                    <div class="position-absolute text-left collection-text collection-text-left">
                        <h2>Tropical Dresses</h2>
                        <a href="" class="text-dark">  Shop now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>